.grid-container {
    border: 2px solid black;
    width: 512px;
    height: 512px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
}

.grid-square {
    border: 1px solid green;
    box-sizing: border-box;
}

.slider-container {
    text-align: center;
}